include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include photos *.css
recursive-include photos *.csv
recursive-include photos *.html
recursive-include photos *.ico
recursive-include photos *.js
recursive-include photos *.json
recursive-include photos *.md
recursive-include photos *.png
recursive-include photos *.py
recursive-include photos *.svg
recursive-include photos *.txt
recursive-exclude photos *.pyc